<div class="ui divider"></div>
<div class="ui blue secondary  menu">
    <div class="ui container">
        <!--            Two options for each link. Active & nonactive.                                -->
        <a *ngIf="this.router.url == '/'" class="active item" routerLink="/" routerLinkActive="active"><i class="home icon"></i>Home</a>
        <a *ngIf="this.router.url != '/'" class="ui item" routerLink="/"><i class="home icon"></i>Home</a>

        <a class="active item" routerLink="/tasks" *ngIf="authService.authenticated && (this.router.url == '/tasks')" routerLinkActive="active"><i class="tasks icon"></i>Tasks</a>
        <a class="ui item" routerLink="/tasks" *ngIf="authService.authenticated && (this.router.url != '/tasks')"><i class="tasks icon"></i>Tasks</a>

        <div class="right menu">
            <div class="item" *ngIf="authService.authenticated">
                <task-search></task-search>
            </div>
            <a class="ui item" routerLink="/register" *ngIf="!authService.authenticated && (this.router.url != '/register')">Register</a>
            <a class="active item" routerLink="/register" *ngIf="!authService.authenticated && (this.router.url == '/register')" routerLinkActive="active">Register</a>

            <a class="ui item" routerLink="/login" *ngIf="!authService.authenticated && (this.router.url != '/login')"><i class="sign in icon"></i>Login</a>
            <a class="active item" routerLink="/login" *ngIf="!authService.authenticated && (this.router.url == '/login')" routerLinkActive="active"><i class="sign in icon"></i>Login</a>

            <a class="ui item" (click)=authService.logout() *ngIf="authService.authenticated"><i class="sign out icon"></i>Log Out</a>
        </div>
    </div></div>
<div class="ui divider"></div>
<br>
<div class="ui container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
<div class="page-footer">
<homefooter></homefooter>
</div>